<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>Patient Details</title>
</head>

<body>
<div class="container">
    <h1>Patient Details</h1>
    <p><strong>Name:</strong> <span th:text="${patientDTO.name}"></span></p>
    <p><strong>Surname:</strong> <span th:text="${patientDTO.surname}"></span></p>
    <p><strong>Pesel:</strong> <span th:text="${patientDTO.pesel}"></span></p>
    <p><strong>Date of Birth:</strong> <span th:text="${patientDTO.dateOfBirth}"></span></p>
    <p><strong>Email:</strong> <span th:text="${patientDTO.email}"></span></p>
    <p><strong>Phone Number:</strong> <span th:text="${patientDTO.phone}"></span></p>

    <form th:action="@{/upload}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" name="image" class="form-control-file" accept="image/*">
        </div>
        <button type="submit" class="btn btn-primary">Change your photo</button>
    </form>

    <h2>Visit History</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Doctor</th>
            <th>Notes</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="visit : ${visitHistory}">
            <td th:text="${visit.day}"></td>
            <td th:text="${visit.startTime}"></td>
            <td th:text="${visit.endTime}"></td>
            <td>
                <span th:each="doctor : ${doctors}" th:if="${doctor.doctorId == visit.doctorId}">
                    <span th:text="${doctor.name}"></span>
                    <span th:text="${doctor.surname}"></span>
                </span>
            </td>

            <td>
                <span th:each="note : ${visit.notes}" th:text="${note.noteContent}" th:if="${not #lists.isEmpty(visit.notes)}"></span>
            </td>

            <td>
                <span th:if="${visit.canceled}">Canceled</span>
            </td>
            <td>
                <form th:action="@{/cancel-visit}" method="post">
                    <input type="hidden" name="visitId" th:value="${visit.visitId}" />
                    <button type="submit" class="btn btn-danger">Cancel</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

    <h2>Choose a Doctor</h2>
    <<form th:action="@{/new-visit}" method="get">
    <label for="doctor">Select Doctor:</label>
    <select id="doctor" name="doctorId" required>
        <option th:each="doctor : ${doctors}"
                th:value="${doctor.doctorId}"
                th:text="${doctor.name + ' ' + doctor.surname}">
        </option>
    </select>
    <br>

    <input type="hidden" name="patientId" th:value="${patientDTO.patientId}" />

    <button type="submit" class="btn btn-primary">New Visit</button>
</form>


    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <a th:href="@{/}" class="btn btn-info" role="button">Go back</a>
        </div>
    </div>

</div>
</body>

</html>
